body,
html {
  background-color: rgb(97, 103, 149);
}

.bg--img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27%;
  opacity: 0.25;
  transform: translate(50%, -50%);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

@media screen and (min-width: 310px) and (max-width: 400px) {
  .bg--img {
    width: 187%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .bg--img {
    width: 107%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .bg--img {
    width: 57%;
    transform: translate(-20%, -50%);
    overflow: hidden;
  }
}

@media screen and (min-width: 900px) and (max-width:1200px) {
  .bg--img {
    width: 57%;
    transform: translate(-20%, -50%);
    overflow: hidden;
  }
}


@media screen and (min-width: 1200px) and (max-width:1500px) {
  .bg--img {
    width: 47%;
    transform: translate(-20%, -50%);
    overflow: hidden;
  }
}